<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
	PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
			"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<settings>
		<setting name="cacheEnabled" value="false" />
		<setting name="useGeneratedKeys" value="true" />
		<setting name="defaultExecutorType" value="REUSE" />
	</settings>
	
	<typeAliases>
		 <typeAlias alias="uVO" type="com.test.web.vo.UserRequest" />
		 <typeAlias alias="pVO" type="com.test.web.vo.PostRequest" />
		 <typeAlias alias="ptVO" type="com.test.web.vo.PutRequest" />
	</typeAliases>
	
	<mappers>
		<!-- <mapper resource="com/githrd/www/sql/MemberSQL.xml" /> -->
	</mappers>
</configuration>